In [1]:
%cd ..

/home/antonbabenko/UCU/ucu-linear-algebra-final-project

In [2]:
%load_ext autoreload
%autoreload 2
%aimport src.metrics
%aimport src.visualization

In [3]:
from pathlib import Path

import numpy as np
import pandas as pd
import altair as alt
import altair_viewer

from src.metrics import relative_prediction_error
from src.visualization import plot_relative_prediction_error

In [4]:
alt.renderers.enable('mimetype')
alt.data_transformers.disable_max_rows()

DataTransformerRegistry.enable('default')

In [5]:
data_dir = Path("results")
results_dir = data_dir / "15-02-21"
save_dir = Path("figs")

In [6]:
preds_df = pd.read_csv(results_dir / "val_preds.csv")

In [7]:
preds_df.head()

,movie_id,customer_id,rating,date,split,als-svd,funk-svd,nnmf,neural-svd,surprise-svd
0,540,646,3.0,1999-12-31,val,2.880528,2.599780,3.621796,3.266399,2.877070
1,723,646,2.0,2000-01-06,val,3.271187,3.434981,3.739512,3.266399,3.480361
2,398,509,4.0,2000-01-06,val,3.882678,4.064758,3.883823,3.762988,4.039360
3,391,509,4.0,2000-01-06,val,3.999982,4.081499,3.804336,3.762988,4.003301
4,412,646,1.0,2000-01-06,val,2.908660,3.536602,3.728763,3.266399,3.700313

In [8]:
columns = ["als-svd", "funk-svd", "nnmf", "neural-svd", "surprise-svd"]
for column in columns:
    save_path = str(save_dir / f"{column}-relative-prediction-errors.html")
    actuals = np.array(preds_df["rating"].tolist())
    preds = np.array(preds_df[column].tolist())
    inner_df = pd.DataFrame({"relative_prediction_error": relative_prediction_error(actuals, preds)[0]})
    chart = plot_relative_prediction_error(inner_df, column="relative_prediction_error", algo=column, save=True, save_path=save_path)